@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #1d1d1d;
  --color-white: #ffffff;

  /* Primary Palette */
  --color-primary-50: #f6f5fd;
  --color-primary-100: #eeecfb;
  --color-primary-200: #e0dcf8;
  --color-primary-300: #c8bff3;
  --color-primary-400: #ac9aeb;
  --color-primary-500: #8f71e1;
  --color-primary-600: #7e53d4;
  --color-primary-700: #6f42c1;
  --color-primary-800: #5c36a4;
  --color-primary-900: #4d2e84;
  --color-primary-950: #2f1c59;

  /* Text Colors */
  --color-text-base: #1d1d1d;
  --color-text-muted: #71717a;
  --color-text-light: #ffffff;

  /* Background Colors */
  --color-bg-default: #f4f8ff;
  --color-bg-dark: #1d1d1d;
  --color-bg-muted: #f6f5fd;
}
body {
  font-family: "Manrope", sans-serif;
  background: var(--color-bg-default) !important;
}
.Pacifico {
  font-family: "Pacifico", cursive;
  font-size: 24px;
}
.container {
  @apply mx-auto;
}

.slick-prev:before,
.slick-next:before {
  background: none !important;
  display: none !important;
}
.slick-prev {
  /* width: 0 !important; */
  @apply lg:right-16 right-20;
  left: unset !important;
  top: 0% !important;
  height: 0% !important;
  z-index: 1;
  margin-top: -70px;
}
.slick-next {
  /* width: 0 !important; */
  @apply lg:!right-5 !right-10;
  top: 0% !important;

  height: 0% !important;
  z-index: 1;
  margin-top: -70px;
}
.slick-prev:before,
.slick-next:before {
  @apply lg:inline-block  hidden;
  font-size: 20px !important;
  font-family: FontAwesome !important;
  padding: 8px 12px !important;
  border-radius: 50% !important;
  background-color: #ffffff;
  color: #000 !important;
}
.slick-dots {
  bottom: 0px !important;
}
.slick-dots li.slick-active button:before {
  background-color: var(--color-primary-600) !important;
  width: 32px !important;
  color: white !important;
  opacity: 1 !important;
}
.slick-dots li button:before {
  content: " " !important;
  width: 16px !important;
  height: 8px !important;
  border-radius: 8px !important;
  background-color: var(--color-primary-200) !important;
  opacity: 1 !important;
}
.slick-dots li button:before {
  color: white !important;
  background-color: var(--color-primary-200) !important;
}
.slick-dots li {
  @apply !mx-2;
}
